<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reddit Aww</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container" id="app">

      <results-list inline-template>
        <div id="posts">

          <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item w-100" v-for="(post, index) in posts" :class="{ 'active': index === 0 }">
                <img v-bind:src="post.url"/>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->


          <div class="card-deck">
            <div class="col-sm-6 col-md-6 col-lg-4" v-for="(post, index) in posts" v-if="!post.is_self">
                <div class="mb-4 card">
                    <a v-bind:href="post.url" target="_blank"><img class="card-img-top" v-bind:src="post.thumbnail" /></a>
                  <div class="card-body">
                    <div class="card-title">{{post.title}}</div>
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <a v-bind:href="post.id | formatURL" target="_blank">
                        <small class="col text-muted">{{post.created | formatDate}}</small>
                        <small class="col text-muted">From: {{post.author}}</small>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        </div>

      </results-list>

    </div>

    <!-- Load our React component. -->
    <script src="js/redditaww.js"></script>

  </body>
</html>
