<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reddit Aww</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container" id="app">

      <results-list inline-template>

          <div id="posts" class="card-deck">
              <div class="col-sm-6 col-md-4 col-lg-3" v-for="(post, index) in posts" v-if="!post.is_self">
                  <div class="mb4 card">
                    <img class="card-img-top" v-bind:src="post.thumbnail" />
                    <div class="card-body">
                      <div class="card-title">{{post.title}}</div>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">{{post.created}}</small>
                      <small class="text-muted">{{post.author}}</small>
                    </div>
                  </div>
                </div>
          </div>
          
      </results-list>

    </div>

    <!-- Load our React component. -->
    <script src="js/redditaww.js"></script>

  </body>
</html>
